body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link:hover { color: rgb(140, 191, 230) !important; }

.nav-link-active {
   color:orange !important;
}

.navbar__link--active {
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .5s ease-in-out;
}

/* Tooltip text */
.hovertip .hovertiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(119, 144, 204);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hovertip:hover .hovertiptext {
  visibility: visible;
}
